@import "colors.css";
@import "typography.css";

.Upload{
    border: 3px solid var(--semidark);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
    padding: 15px;
    width: 90%;
    font-size: 20px;
}

.form-group{
  padding-top: 20px;
  padding-bottom: 20px;
}

input, select{
  font-size: 18px;
  font-family: 'fredoka';
  color: var(--semidark);
}

* {
  box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 230px auto; 
    height: 100%;
    margin: 0;
}

main{
  grid-column-start: 2;
  grid-column-end: 3;
}

.Name_Menu{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.Nav_Ul{
  list-style-type: none;
  padding-left: 5px;
}
.Nav_Button{
  border-bottom: 2px solid var(--blue);
  padding-top: 25px;
  width: 50%;
}

.Nav_Button:hover{
  width: 70%;
  transform-origin: 0% 100%;
  /* //transition: transform 1000ms ease-in-out; */
  transition-duration: 500ms;
}
.Nav_Button:hover:after{
  transform-origin: 100% 0%;
  transition-duration: 500ms;
}
header{
    display: grid;
    grid-template-rows: 90px 1fr 20% ;
    grid-template-columns: 1fr;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    background-color: var(--light);
    align-content: center;
}
.Logo
{
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: var(--semidark);
    color: var(--light);
    align-items: center;
    align-content: center;
    text-align: center;
}


.Text{
    display: flex;
    align-items: center;
    text-align: center;
}

footer{
    display: grid;
    grid-template-rows: 20% 65% 15%;
    grid-template-columns: 50% 50%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 4px;    
    border-top: 2px solid var(--dark);
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.Footer_Icon{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.Back{
  font-family: 'fredoka';
  color: var(--semidark);
  font-weight: 600;
  font-size: 20px;
}

.Create{
  font-size: 24px;
  color: var(--semidark);
}
.Create:hover{
  font-size: 25px;
  color: var(--blue);
}

.Back:hover{
  color: var(--blue);
}

.Credentials{
    align-items: center;
    text-align: center;
    opacity: 0.8;
    font-size: 10px;
    line-height: 9px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-family: 'fredoka';
}

.Footer_Greeting{
  font-family: 'fredoka';
  font-size: 15px;
  line-height: 18px;
  grid-column-start: 1;
  grid-column-end: 3;
  align-items: center;
  text-align: center;
}

.Footer_Button{
    display: grid;
    grid-template-rows: 80% 20%;
    align-items: center;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
}
.Index_Main{
    display: grid;
    grid-template-rows: 20px auto auto;
    grid-template-columns: 1fr; 
}
.Index_Sorted{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto auto auto auto ;
    gap: 15px;
    margin: 10px;
    padding: 0;
}

.Index_Main_Description{
    margin: 0;
    padding-left: 5%;
    align-items: center;
}

.Index_Picture{
    display: block;
    align-items: center;
    align-content: center;
    grid-area: "Items";
    border-radius: 25px;
    border: 2px solid var(--dark);
    box-shadow: 5px 10px var(--light);
}



.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {     
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: var(--semidark);
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "roboto";  
  font-size: .8em; 
  color: var(--lightblue);  
}

.card__status {
  font-size: .8em;
  color: var(--lightblue);
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: var(--lightblue);
  font-family: "roboto";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    
