/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
*/

.NavBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    left: 0px;
    right: 1210px;
    top: 0px;
    bottom: 0px;
    background: #D2F0F2;
}
/* Logo */
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 40px 76px;

position: static;
width: 230px;
height: 87px;
left: 0px;
top: 0px;

background: #C4C4C4;
/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 12px 0px;
/* LOGO */
position: static;
width: 77px;
height: 7px;
left: calc(50% - 77px/2 - 0.5px);
top: calc(50% - 7px/2);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 10px;
/* Frame 2 */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 10px;

position: static;
width: 230px;
height: 837px;
left: 0px;
top: 99px;
/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
margin: 12px 0px;
/* Aldrain´s Galleries */
position: static;
height: 20px;
left: 10px;
right: 10px;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #000000;

border: 0.2px solid #000000;
/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 37px 0px;
/* Default Galleries */
position: static;
left: 10px;
right: 10px;
top: 6.81%;
bottom: 90.92%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;
/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 37px 0px;
/* Fan Arts */
position: static;
left: 10px;
right: 10px;
top: 13.5%;
bottom: 84.23%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;
/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
margin: 37px 0px;
/* Game Screenshots */
position: static;
left: 10px;
right: -10px;
top: 20.19%;
bottom: 77.54%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;
/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 37px 0px;
/* Everything else */
position: static;
left: 10px;
right: 10px;
top: 26.88%;
bottom: 70.85%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;
/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;
margin: 37px 0px;
/* Aldrain´s Galleries */
position: static;
height: 20px;
left: 10px;
right: 10px;
top: 281px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #000000;

border: 0.2px solid #000000;
/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;
margin: 37px 0px;
/* Footer */
position: static;
width: 230px;
height: 127px;
left: 0px;
top: 948px;
/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
margin: 12px 0px;
/* Credentials */
position: absolute;
width: 230px;
height: 21px;
left: 0px;
top: 106px;
/* Made by Aldra1n 2022 - SPEŠSE a VOŠ */
position: absolute;
width: 230px;
height: 21px;
left: 0px;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 9px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

opacity: 0.8;
/* Footer Button */
position: absolute;
width: 90px;
height: 69px;
left: 15px;
top: 29px;
/* Log out */
position: absolute;
left: 0%;
right: 17.65%;
top: 77.83%;
bottom: -0.47%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
/* Login 1 */
position: absolute;
left: 13.33%;
right: 22.22%;
top: 4.35%;
bottom: 23.19%;

background: url(Login.png);
/* Avatar */
position: absolute;
width: 90px;
height: 69px;
left: 125px;
top: 29px;
/* Edit Profile */
position: absolute;
left: 0%;
right: 0%;
top: 76.81%;
bottom: 0%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
/* Avatar 1 */
position: absolute;
left: 11px;
right: 9px;
top: 0px;
bottom: 13.68px;

background: url(Avatar.png);
/* User_Name */
position: absolute;
width: 230px;
height: 28px;
left: 0px;
top: 1px;

/* Hello Aldra1n!! */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

border: 0.1px solid #000000;
